body{
    background-color: #E5FCC2 ;
    margin:0 auto;
    }
 .mainbody{
     margin: 20px 500px 20px 500px;
     border: 20px solid  #45ADA8;
     padding-left: 20px;
     padding-right:20px;
     background-color: lightyellow;
    } 
 
 .firstparaborder
 {
border-left:2px solid #bdc3c7;
 }

 h1{
     color:#2c3e50;
     text-align:left;

 }
 p{
     font-family: 'Source Sans Pro', sans-serif;
     text-align:left;

 }  
 hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}